.patron-card {
    height: 70px;
    width: 50px;
    display: inline-block;
    padding: 20px 20px;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    text-align: center;
    cursor: pointer;
    text-decoration: none; 
    color: #000; 
    transition: background-color 0.3s ease;
}

.search-book-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.search-form {
    display: flex;
    flex-direction: column;
}

.search-form div {
    margin-bottom: 10px;
}

.search-form label {
    margin-right: 10px;
}

.search-form input {
    padding: 5px;
    font-size: 1em;
}

.results-container {
    margin-top: 20px;
}

.book-item {
    border: 1px solid #ddd;
    background-color:#0E0E6A ;
    color: #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: block;
    text-decoration: none;
}

.book-item h2 {
    margin: 0;
}


.book-item h2 {
    margin: 0;
}

.book-item:hover {
    background-color: #f0f0f0; /* Add a hover effect */
    cursor: pointer; /* Change cursor to pointer */
}